body {background-color: lightgray;}

h1 {
    text-align: center;
    font-size:70px;
}

img{ 
    display: block;
    width: 25%;
    height: 25%;
 }
 
 hr {
    height: 2px;
    width: auto;
    background-color: green;
}