h1{
    float:center;
    color: green;
    font-weight:bolder;
    font-size:50px;

}

h2{
    float:center;
    color: green;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}

body {background-color: lightgray;}

img{ 
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 25%;
   height: 25%;
}

P{
    text-align: center;
    text-size-adjust:25px;
    color: green;
    font-size: 45px;
}

.toyota {
    color: aqua;
    float: none;
}

.porsche {
    color: blue;
    float: none;
}

h1 {
    text-align: center;
}

.links {
    text-align: center;
}

img {
    align-self: center;
}

hr {
    height: 2px;
    width: auto;
    background-color: green;
}

h4 {
    float:center;
    color: green;
    font-weight: bold;
    text-align: center;
    font-size: 60px;

}